<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header"><%= @topic.title %></h1> 
      <div class="divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col s9 m9 l9">
      <%= @topic.description %>
    </div>
    <div class="col m3">
      <span class="right hide-on-med-and-down">Posted: <%= @topic.created_at.to_date.to_s(:long) %></span> <br>
      <span class="right">By <%= @topic.user.full_name%></span>
    </div>
  </div>
</div>

<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>