<% flash.each do |message_type, message| %>

<div id="card-alert" class="card red">
  <div class="card-content white-text">
    <p><%= message %></p>
  </div>
  <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<% end %>