  <footer class="page-footer blue-grey darken-3">
    <div class="footer-copyright">
        <div class="container">
        <div class="row">
          <div class="col s12">
            <center>
             &copy; 2017. Made by <a class="orange-text text-lighten-3" href="https://polymathwhiz.github.io" target="_blank"> <b>PolymathWhiz</b></a>
            </center>
          </div>
        </div>
       
        </div>
    </div>
  </footer>
