  <footer class="page-footer blue-grey darken-3">
    <div class="footer-copyright">
        <div class="container">
        &copy; 2017. Made by <a class="orange-text text-lighten-3" href="https://polymathwhiz.github.io" target="_blank"> <b>PolymathWhiz</b></a>
        </div>
    </div>
  </footer>
